<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleados"><i class="far fa-plus-circle"></i></button>
            <table class="table mt-4 table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>658741235</td>
                        <td>2500000</td>
                        <td>
                            <button class="btn btn-warning btn-lg">
                                <i class="far fa-edit fa-lg text-success mr-2"></i>
                                <i class="fas fa-trash fa-lg text-danger"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>658741235</td>
                        <td>2500000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>658741235</td>
                        <td>2500000</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>