
<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados
                <div *ngIf="loading" class="spinner-border float-right" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleados"><i class="far fa-plus-circle"></i></button>
            <h5 *ngIf="empleados.length == 0" class="mt-3">No hay Registros para mostrar</h5>
            <table *ngIf="empleados.length > 0" class="table mt-4 table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.documento }}</td>
                        <td>{{ empleado.salario | currency }}</td>
                        <td>
                            <button class="btn btn-warning btn-lg">
                                <i class="far fa-edit fa-lg text-success mr-2"></i>
                                <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash fa-lg text-danger"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>