<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ titulo }}
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger">Todos los campos son obligatorios</span>
                    <form action="" class="mt-4" [formGroup]="createEmpleado" (ngSubmit)="agregarEmpleado()">
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" autocomplete="off" spellcheck="false" class="form-control" formControlName="nombre" placeholder="Nombre" >
                            </div>
                            <div class="col">
                                <input type="text" autocomplete="off" spellcheck="false" class="form-control" formControlName="apellido" placeholder="Apellido" >
                            </div>
                        </div> <!-- Row -->
                        <div class="row mb-3">
                            <div class="col">
                                <input type="number" class="form-control" formControlName="documento" placeholder="Documento">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" formControlName="salario" placeholder="Salario">
                            </div>
                        </div> <!-- Row -->
                        <div class="mt-3">
                            <button type="submit" class="btn btn-dark mr-3">Agregar</button>
                            <button type="text" class="btn btn-secondary" routerLink="/list-empleados">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
